In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
world_url = 'https://www.worldometers.info/coronavirus/'
india_url = 'https://www.mohfw.gov.in/'

## Web Scrapping the World Dataset

In [3]:
response = requests.get(world_url)
print(response)

<Response [200]>

In [4]:
soup = BeautifulSoup(response.content,'html.parser')
soup.title

In [5]:
divs = soup.find('div',class_='panel_flip')
for i in divs.find_all('div',class_='panel_front'):
    print(i.text)

3,593,083
Currently Infected Patients


3,538,447 (98%)
in Mild Condition

54,636 (2%)
Serious or Critical


Show Graph

In [6]:
coronatable = soup.find_all('table')

In [7]:
ct = coronatable[0]

In [8]:
country = []
total_cases = []
new_cases = []
total_deaths = []
new_deaths = []
total_recovered = []
active_cases = []
rows = ct.find_all('tr')[9:-8]
for row in rows:
    col = row.find_all('td')
    country.append(col[1].text.strip())
    total_cases.append(col[2].text.strip().replace(',',''))
    new_cases.append(col[3].text.strip().replace(',','').replace('+',''))
    total_deaths.append(col[4].text.strip().replace(',',''))
    new_deaths.append(col[5].text.strip().replace(',','').replace('+',''))
    total_recovered.append(col[6].text.strip().replace(',',''))
    active_cases.append(col[8].text.strip().replace(',','').replace('+',''))
    
print(country)
print(active_cases)

['USA', 'Brazil', 'Russia', 'India', 'UK', 'Spain', 'Peru', 'Italy', 'Chile', 'Iran', 'Germany', 'Turkey', 'Mexico', 'Pakistan', 'France', 'Saudi Arabia', 'Bangladesh', 'Canada', 'Qatar', 'South Africa', 'Belgium', 'Colombia', 'Belarus', 'Sweden', 'Egypt', 'Netherlands', 'Ecuador', 'Indonesia', 'UAE', 'Singapore', 'Portugal', 'Kuwait', 'Argentina', 'Ukraine', 'Poland', 'Switzerland', 'Philippines', 'Afghanistan', 'Oman', 'Iraq', 'Ireland', 'Dominican Republic', 'Romania', 'Panama', 'Bolivia', 'Bahrain', 'Israel', 'Armenia', 'Nigeria', 'Japan', 'Austria', 'Kazakhstan', 'Moldova', 'Ghana', 'Serbia', 'Denmark', 'S. Korea', 'Guatemala', 'Algeria', 'Azerbaijan', 'Honduras', 'Cameroon', 'Czechia', 'Morocco', 'Norway', 'Malaysia', 'Sudan', 'Nepal', 'Australia', 'Finland', 'Ivory Coast', 'Uzbekistan', 'Senegal', 'DRC', 'Tajikistan', 'Haiti', 'Guinea', 'North Macedonia', 'Djibouti', 'Gabon', 'El Salvador', 'Kenya', 'Luxembourg', 'Hungary', 'Ethiopia', 'Bulgaria', 'Venezuela', 'Greece', 'Bosnia and Herzegovina', 'Thailand', 'Kyrgyzstan', 'Somalia', 'CAR', 'Mauritania', 'Mayotte', 'Cuba', 'Croatia', 'Maldives', 'Estonia', 'Sri Lanka', 'Costa Rica', 'Mali', 'Albania', 'South Sudan', 'Nicaragua', 'Iceland', 'Lithuania', 'French Guiana', 'Equatorial Guinea', 'Slovakia', 'Slovenia', 'New Zealand', 'Lebanon', 'Guinea-Bissau', 'Zambia', 'Madagascar', 'Paraguay', 'Sierra Leone', 'Tunisia', 'Hong Kong', 'Latvia', 'Niger', 'Jordan', 'Cyprus', 'Yemen', 'Burkina Faso', 'Georgia', 'Congo', 'Andorra', 'Chad', 'Uruguay', 'Cabo Verde', 'Uganda', 'Diamond Princess', 'San Marino', 'Sao Tome and Principe', 'Malta', 'Mozambique', 'Rwanda', 'Palestine', 'Jamaica', 'Benin', 'Malawi', 'Eswatini', 'Channel Islands', 'Togo', 'Liberia', 'Libya', 'Tanzania', 'Réunion', 'Zimbabwe', 'Taiwan', 'Vietnam', 'Mauritius', 'Montenegro', 'Isle of Man', 'Myanmar', 'Suriname', 'Martinique', 'Comoros', 'Mongolia', 'Cayman Islands', 'Syria', 'Faeroe Islands', 'Guyana', 'Gibraltar', 'Guadeloupe', 'Angola', 'Bermuda', 'Eritrea', 'Brunei', 'Cambodia', 'Trinidad and Tobago', 'Bahamas', 'Burundi', 'Aruba', 'Monaco', 'Barbados', 'Liechtenstein', 'Botswana', 'Sint Maarten', 'Bhutan', 'French Polynesia', 'Macao', 'Saint Martin', 'Namibia', 'Gambia', 'St. Vincent Grenadines', 'Antigua and Barbuda', 'Timor-Leste', 'Curaçao', 'Grenada', 'Belize', 'New Caledonia', 'Laos', 'Saint Lucia', 'Dominica', 'Fiji', 'Saint Kitts and Nevis', 'Falkland Islands', 'Greenland', 'Turks and Caicos', 'Vatican City', 'Montserrat', 'Seychelles', 'MS Zaandam', 'Western Sahara', 'British Virgin Islands', 'Papua New Guinea', 'Caribbean Netherlands', 'St. Barth', 'Lesotho', 'Anguilla', 'Saint Pierre Miquelon', 'China']
['1211989', '415130', '236816', '163688', 'N/A', 'N/A', '105737', '23101', '34821', '31384', '7080', '23127', '22613', '100450', '55151', '50937', '61202', '29424', '20713', '37233', '34030', '35587', '22303', 'N/A', '34971', 'N/A', '20887', '24081', '13213', '8877', '12555', '8254', '25841', '17966', '14284', '361', '19951', '19368', '13571', '13528', '943', '9717', '5361', '9094', '16800', '5678', '4372', '10572', '11698', '803', '442', '6051', '5132', '8395', '847', '502', '1191', '9129', '2496', '4998', '9217', '2808', '2503', '986', '326', '344', '4567', '6640', '429', '593', '3532', '1637', '1683', '4481', '1466', '4808', '1348', '2612', '987', '2651', '1933', '2681', '41', '932', '2955', '1543', '2620', '1665', '787', '80', '796', '1907', '2169', '1777', '288', '190', '20', '370', '155', '515', '990', '607', '682', '1681', '521', '5', '254', '969', '1117', '101', '45', '3', '519', '1324', '261', '927', '600', '511', '76', '49', '177', '52', '295', '148', '388', '36', '140', '465', '11', '47', '12', '439', '255', '48', '44', '485', '44', '483', '294', '221', '170', '348', '510', '315', '10', '181', '259', '419', '305', '41', '396', '5', '17', '2', '13', '0', '93', '196', '109', '76', '72', '51', '102', '0', '69', '0', '0', '94', '7', '103', '0', '3', '6', '19', '28', '0', '1', '5', '26', '53', '0', '42', '0', '0', '3', '21', '11', '3', '1', '0', '3', '0', '4', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '7', '0', '0', '0', '0', '0', '2', '0', '0', '293']

In [9]:
world_df = pd.DataFrame(list(zip(country,new_cases, active_cases, total_recovered, new_deaths, total_deaths, total_cases)),
                  columns = ['Country','NewCases','ActiveCases','TotalRecovered','NewDeaths','TotalDeaths','TotalCases'])

In [10]:
world_df.head(20)

,Country,NewCases,ActiveCases,TotalRecovered,NewDeaths,TotalDeaths,TotalCases
0,USA,105,1211989,931079,,120688,2263756
1,Brazil,,415130,520360,,47869,983359
2,Russia,7972,236816,324406,181,7841,569063
3,India,448,163688,205245,2,12606,381539
4,UK,,N/A,N/A,,42288,300469
5,Spain,,N/A,N/A,,27136,292348
6,Peru,,105737,131190,,7461,244388
7,Italy,,23101,180544,,34514,238159
8,Chile,,34821,186441,,3841,225103
9,Iran,,31384,156991,,9272,197647
10,Germany,,7080,174100,,8946,190126
11,Turkey,,23127,156022,,4882,184031
12,Mexico,5662,22613,123095,667,19747,165455
13,Pakistan,4944,100450,61383,136,3229,165062
14,France,,55151,73887,,29603,158641
15,Saudi Arabia,,50937,93915,,1139,145991
16,Bangladesh,3243,61202,42945,45,1388,105535
17,Canada,,29424,62496,,8300,100220
18,Qatar,,20713,63642,,86,84441
19,South Africa,,37233,44920,,1737,83890

## Data Cleaning on World Data

In [11]:
world_df.dtypes

Country           object
NewCases          object
ActiveCases       object
TotalRecovered    object
NewDeaths         object
TotalDeaths       object
TotalCases        object
dtype: object

In [12]:
# Check for duplicated rows in the Country column

world_df.Country.duplicated().sum()

0

In [13]:
# Check for null values
world_df.isnull().sum()

Country           0
NewCases          0
ActiveCases       0
TotalRecovered    0
NewDeaths         0
TotalDeaths       0
TotalCases        0
dtype: int64

In [14]:
# It can be seen from the dataset that it does have missing values
# Handling missing values by replacing them with NaN

world_df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
world_df.replace('N/A', np.nan, inplace=True)
world_df

,Country,NewCases,ActiveCases,TotalRecovered,NewDeaths,TotalDeaths,TotalCases
0,USA,105,1211989,931079,NaN,120688,2263756
1,Brazil,NaN,415130,520360,NaN,47869,983359
2,Russia,7972,236816,324406,181,7841,569063
3,India,448,163688,205245,2,12606,381539
4,UK,NaN,NaN,NaN,NaN,42288,300469
5,Spain,NaN,NaN,NaN,NaN,27136,292348
6,Peru,NaN,105737,131190,NaN,7461,244388
7,Italy,NaN,23101,180544,NaN,34514,238159
8,Chile,NaN,34821,186441,NaN,3841,225103
9,Iran,NaN,31384,156991,NaN,9272,197647
10,Germany,NaN,7080,174100,NaN,8946,190126
11,Turkey,NaN,23127,156022,NaN,4882,184031
12,Mexico,5662,22613,123095,667,19747,165455
13,Pakistan,4944,100450,61383,136,3229,165062
14,France,NaN,55151,73887,NaN,29603,158641
15,Saudi Arabia,NaN,50937,93915,NaN,1139,145991
16,Bangladesh,3243,61202,42945,45,1388,105535
17,Canada,NaN,29424,62496,NaN,8300,100220
18,Qatar,NaN,20713,63642,NaN,86,84441
19,South Africa,NaN,37233,44920,NaN,1737,83890
20,Belgium,128,34030,16751,12,9695,60476
21,Colombia,NaN,35587,22680,NaN,1950,60217
22,Belarus,NaN,22303,34023,NaN,331,56657
23,Sweden,NaN,NaN,NaN,NaN,5053,56043
24,Egypt,NaN,34971,13528,NaN,1938,50437
25,Netherlands,NaN,NaN,NaN,NaN,6078,49319
26,Ecuador,NaN,20887,24123,NaN,4087,49097
27,Indonesia,1041,24081,17349,34,2373,43803
28,UAE,NaN,13213,30241,NaN,298,43752
29,Singapore,142,8877,32712,NaN,26,41615
...,...,...,...,...,...,...,...
185,Namibia,1,21,19,NaN,NaN,40
186,Gambia,NaN,11,24,NaN,1,36
187,St. Vincent Grenadines,NaN,3,26,NaN,NaN,29
188,Antigua and Barbuda,NaN,1,22,NaN,3,26
189,Timor-Leste,NaN,0,24,NaN,NaN,24
190,Curaçao,NaN,3,19,NaN,1,23
191,Grenada,NaN,0,23,NaN,NaN,23
192,Belize,NaN,4,16,NaN,2,22
193,New Caledonia,NaN,0,21,NaN,NaN,21
194,Laos,NaN,0,19,NaN,NaN,19
195,Saint Lucia,NaN,1,18,NaN,NaN,19
196,Dominica,NaN,0,18,NaN,NaN,18
197,Fiji,NaN,0,18,NaN,NaN,18
198,Saint Kitts and Nevis,NaN,0,15,NaN,NaN,15
199,Falkland Islands,NaN,0,13,NaN,NaN,13
200,Greenland,NaN,0,13,NaN,NaN,13
201,Turks and Caicos,NaN,0,11,NaN,1,12
202,Vatican City,NaN,0,12,NaN,NaN,12
203,Montserrat,NaN,0,10,NaN,1,11
204,Seychelles,NaN,0,11,NaN,NaN,11
205,MS Zaandam,NaN,7,NaN,NaN,2,9
206,Western Sahara,NaN,0,8,NaN,1,9
207,British Virgin Islands,NaN,0,7,NaN,1,8
208,Papua New Guinea,NaN,0,8,NaN,NaN,8
209,Caribbean Netherlands,NaN,0,7,NaN,NaN,7
210,St. Barth,NaN,0,6,NaN,NaN,6
211,Lesotho,NaN,2,2,NaN,NaN,4
212,Anguilla,NaN,0,3,NaN,NaN,3
213,Saint Pierre Miquelon,NaN,0,1,NaN,NaN,1
214,China,32,293,78398,NaN,4634,83325

In [15]:
# Finding the number of NaN values in the dataset

world_df.isna().sum()

Country             0
NewCases          166
ActiveCases         4
TotalRecovered      5
NewDeaths         189
TotalDeaths        30
TotalCases          0
dtype: int64

In [16]:
# Missing values in NewCases and New Deaths can be filled with zeros 

world_df.NewCases.replace(np.nan,0,inplace=True)
world_df.NewDeaths.replace(np.nan,0,inplace=True)

In [17]:
world_df

,Country,NewCases,ActiveCases,TotalRecovered,NewDeaths,TotalDeaths,TotalCases
0,USA,105,1211989,931079,0,120688,2263756
1,Brazil,0,415130,520360,0,47869,983359
2,Russia,7972,236816,324406,181,7841,569063
3,India,448,163688,205245,2,12606,381539
4,UK,0,NaN,NaN,0,42288,300469
5,Spain,0,NaN,NaN,0,27136,292348
6,Peru,0,105737,131190,0,7461,244388
7,Italy,0,23101,180544,0,34514,238159
8,Chile,0,34821,186441,0,3841,225103
9,Iran,0,31384,156991,0,9272,197647
10,Germany,0,7080,174100,0,8946,190126
11,Turkey,0,23127,156022,0,4882,184031
12,Mexico,5662,22613,123095,667,19747,165455
13,Pakistan,4944,100450,61383,136,3229,165062
14,France,0,55151,73887,0,29603,158641
15,Saudi Arabia,0,50937,93915,0,1139,145991
16,Bangladesh,3243,61202,42945,45,1388,105535
17,Canada,0,29424,62496,0,8300,100220
18,Qatar,0,20713,63642,0,86,84441
19,South Africa,0,37233,44920,0,1737,83890
20,Belgium,128,34030,16751,12,9695,60476
21,Colombia,0,35587,22680,0,1950,60217
22,Belarus,0,22303,34023,0,331,56657
23,Sweden,0,NaN,NaN,0,5053,56043
24,Egypt,0,34971,13528,0,1938,50437
25,Netherlands,0,NaN,NaN,0,6078,49319
26,Ecuador,0,20887,24123,0,4087,49097
27,Indonesia,1041,24081,17349,34,2373,43803
28,UAE,0,13213,30241,0,298,43752
29,Singapore,142,8877,32712,0,26,41615
...,...,...,...,...,...,...,...
185,Namibia,1,21,19,0,NaN,40
186,Gambia,0,11,24,0,1,36
187,St. Vincent Grenadines,0,3,26,0,NaN,29
188,Antigua and Barbuda,0,1,22,0,3,26
189,Timor-Leste,0,0,24,0,NaN,24
190,Curaçao,0,3,19,0,1,23
191,Grenada,0,0,23,0,NaN,23
192,Belize,0,4,16,0,2,22
193,New Caledonia,0,0,21,0,NaN,21
194,Laos,0,0,19,0,NaN,19
195,Saint Lucia,0,1,18,0,NaN,19
196,Dominica,0,0,18,0,NaN,18
197,Fiji,0,0,18,0,NaN,18
198,Saint Kitts and Nevis,0,0,15,0,NaN,15
199,Falkland Islands,0,0,13,0,NaN,13
200,Greenland,0,0,13,0,NaN,13
201,Turks and Caicos,0,0,11,0,1,12
202,Vatican City,0,0,12,0,NaN,12
203,Montserrat,0,0,10,0,1,11
204,Seychelles,0,0,11,0,NaN,11
205,MS Zaandam,0,7,NaN,0,2,9
206,Western Sahara,0,0,8,0,1,9
207,British Virgin Islands,0,0,7,0,1,8
208,Papua New Guinea,0,0,8,0,NaN,8
209,Caribbean Netherlands,0,0,7,0,NaN,7
210,St. Barth,0,0,6,0,NaN,6
211,Lesotho,0,2,2,0,NaN,4
212,Anguilla,0,0,3,0,NaN,3
213,Saint Pierre Miquelon,0,0,1,0,NaN,1
214,China,32,293,78398,0,4634,83325

In [18]:
world_df.isna().sum()

Country            0
NewCases           0
ActiveCases        4
TotalRecovered     5
NewDeaths          0
TotalDeaths       30
TotalCases         0
dtype: int64

In [19]:
# For ActiveCase, TotalRecovered and TotalDeaths 
# The missing values can be replaced using the expression : 
# TotalCases = ActiveCases + TotalRecovered + TotalDeaths

for i in world_df.index:
    if world_df.ActiveCases[i] is np.nan:
        if world_df.TotalRecovered[i] is np.nan or world_df.TotalDeaths[i] is np.nan:
            world_df.ActiveCases[i] = 0 + int(world_df.NewCases[i])
        else:
            world_df.ActiveCases[i] = int(world_df.TotalCases[i]) + int(world_df.NewCases[i]) - int(world_df.TotalDeaths[i]) - int(world_df.TotalRecovered[i])
    if world_df.TotalRecovered[i] is np.nan:
        if world_df.TotalDeaths[i] is np.nan:
            world_df.TotalRecovered[i] = 0
        else:
            world_df.TotalRecovered[i] = int(world_df.TotalCases[i]) - int(world_df.TotalDeaths[i]) - int(world_df.ActiveCases[i])
            
    if world_df.TotalDeaths[i] is np.nan:
        #if world_df.ActiveCases[i] is np.nan or world_df.TotalRecovered[i] is np.nan:
         #   world_df.TotalDeaths = 0
        #else:
        world_df.TotalDeaths[i] = int(world_df.TotalCases[i]) + int(world_df.NewDeaths[i]) - int(world_df.ActiveCases[i]) - int(world_df.TotalRecovered[i])

In [20]:
world_df.head(20)

,Country,NewCases,ActiveCases,TotalRecovered,NewDeaths,TotalDeaths,TotalCases
0,USA,105,1211989,931079,0,120688,2263756
1,Brazil,0,415130,520360,0,47869,983359
2,Russia,7972,236816,324406,181,7841,569063
3,India,448,163688,205245,2,12606,381539
4,UK,0,0,258181,0,42288,300469
5,Spain,0,0,265212,0,27136,292348
6,Peru,0,105737,131190,0,7461,244388
7,Italy,0,23101,180544,0,34514,238159
8,Chile,0,34821,186441,0,3841,225103
9,Iran,0,31384,156991,0,9272,197647
10,Germany,0,7080,174100,0,8946,190126
11,Turkey,0,23127,156022,0,4882,184031
12,Mexico,5662,22613,123095,667,19747,165455
13,Pakistan,4944,100450,61383,136,3229,165062
14,France,0,55151,73887,0,29603,158641
15,Saudi Arabia,0,50937,93915,0,1139,145991
16,Bangladesh,3243,61202,42945,45,1388,105535
17,Canada,0,29424,62496,0,8300,100220
18,Qatar,0,20713,63642,0,86,84441
19,South Africa,0,37233,44920,0,1737,83890

In [21]:
# Check if there are anymore missing values

world_df.isna().sum()

Country           0
NewCases          0
ActiveCases       0
TotalRecovered    0
NewDeaths         0
TotalDeaths       0
TotalCases        0
dtype: int64

In [22]:
# Convert all columns except Country into int to aid further calculations

world_df.NewCases = world_df.NewCases.astype(int)
world_df.ActiveCases = world_df.ActiveCases.astype(int)
world_df.TotalRecovered = world_df.TotalRecovered.astype(int)
world_df.NewDeaths = world_df.NewDeaths.astype(int)
world_df.TotalDeaths = world_df.TotalDeaths.astype(int)
world_df.TotalCases = world_df.TotalCases.astype(int)

In [23]:
world_df.dtypes

Country           object
NewCases           int32
ActiveCases        int32
TotalRecovered     int32
NewDeaths          int32
TotalDeaths        int32
TotalCases         int32
dtype: object

In [24]:
world_df

,Country,NewCases,ActiveCases,TotalRecovered,NewDeaths,TotalDeaths,TotalCases
0,USA,105,1211989,931079,0,120688,2263756
1,Brazil,0,415130,520360,0,47869,983359
2,Russia,7972,236816,324406,181,7841,569063
3,India,448,163688,205245,2,12606,381539
4,UK,0,0,258181,0,42288,300469
5,Spain,0,0,265212,0,27136,292348
6,Peru,0,105737,131190,0,7461,244388
7,Italy,0,23101,180544,0,34514,238159
8,Chile,0,34821,186441,0,3841,225103
9,Iran,0,31384,156991,0,9272,197647
10,Germany,0,7080,174100,0,8946,190126
11,Turkey,0,23127,156022,0,4882,184031
12,Mexico,5662,22613,123095,667,19747,165455
13,Pakistan,4944,100450,61383,136,3229,165062
14,France,0,55151,73887,0,29603,158641
15,Saudi Arabia,0,50937,93915,0,1139,145991
16,Bangladesh,3243,61202,42945,45,1388,105535
17,Canada,0,29424,62496,0,8300,100220
18,Qatar,0,20713,63642,0,86,84441
19,South Africa,0,37233,44920,0,1737,83890
20,Belgium,128,34030,16751,12,9695,60476
21,Colombia,0,35587,22680,0,1950,60217
22,Belarus,0,22303,34023,0,331,56657
23,Sweden,0,0,50990,0,5053,56043
24,Egypt,0,34971,13528,0,1938,50437
25,Netherlands,0,0,43241,0,6078,49319
26,Ecuador,0,20887,24123,0,4087,49097
27,Indonesia,1041,24081,17349,34,2373,43803
28,UAE,0,13213,30241,0,298,43752
29,Singapore,142,8877,32712,0,26,41615
...,...,...,...,...,...,...,...
185,Namibia,1,21,19,0,0,40
186,Gambia,0,11,24,0,1,36
187,St. Vincent Grenadines,0,3,26,0,0,29
188,Antigua and Barbuda,0,1,22,0,3,26
189,Timor-Leste,0,0,24,0,0,24
190,Curaçao,0,3,19,0,1,23
191,Grenada,0,0,23,0,0,23
192,Belize,0,4,16,0,2,22
193,New Caledonia,0,0,21,0,0,21
194,Laos,0,0,19,0,0,19
195,Saint Lucia,0,1,18,0,0,19
196,Dominica,0,0,18,0,0,18
197,Fiji,0,0,18,0,0,18
198,Saint Kitts and Nevis,0,0,15,0,0,15
199,Falkland Islands,0,0,13,0,0,13
200,Greenland,0,0,13,0,0,13
201,Turks and Caicos,0,0,11,0,1,12
202,Vatican City,0,0,12,0,0,12
203,Montserrat,0,0,10,0,1,11
204,Seychelles,0,0,11,0,0,11
205,MS Zaandam,0,7,0,0,2,9
206,Western Sahara,0,0,8,0,1,9
207,British Virgin Islands,0,0,7,0,1,8
208,Papua New Guinea,0,0,8,0,0,8
209,Caribbean Netherlands,0,0,7,0,0,7
210,St. Barth,0,0,6,0,0,6
211,Lesotho,0,2,2,0,0,4
212,Anguilla,0,0,3,0,0,3
213,Saint Pierre Miquelon,0,0,1,0,0,1
214,China,32,293,78398,0,4634,83325

## Web Scrapping the India Dataset

In [25]:
response = requests.get(india_url)
print(response)

<Response [200]>

In [26]:
soup = BeautifulSoup(response.content,'html.parser')
soup.title

In [27]:
ct = soup.find('table')

In [28]:
state = []
total_cases = []
deaths = []
recovered = []
active_cases = []
rows = ct.find_all('tr')[1:35]
for row in rows:
    col = row.find_all('td')
    state.append(col[1].text.strip())
    active_cases.append(col[2].text.strip())
    recovered.append(col[3].text.strip())
    deaths.append(col[4].text.strip())
    total_cases.append(col[5].text.strip())
    
print(state)

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh']

In [29]:
india_df = pd.DataFrame(list(zip(state,active_cases,recovered,deaths,total_cases)),columns=['State','ActiveCases','RecoveredCases','TotalDeaths','TotalCases'])

In [30]:
india_df

,State,ActiveCases,RecoveredCases,TotalDeaths,TotalCases
0,Andaman and Nicobar Islands,11,33,0,44
1,Andhra Pradesh,3637,3789,92,7518
2,Arunachal Pradesh,93,10,0,103
3,Assam,2114,2654,9,4777
4,Bihar,1925,5056,44,7025
5,Chandigarh,62,306,6,374
6,Chhattisgarh,708,1228,10,1946
7,Dadra and Nagar Haveli and Daman and Diu,45,13,0,58
8,Delhi,26669,21341,1969,49979
9,Goa,596,109,0,705
10,Gujarat,6191,17819,1591,25601
11,Haryana,4528,4556,134,9218
12,Himachal Pradesh,205,382,8,595
13,Jammu and Kashmir,2340,3144,71,5555
14,Jharkhand,711,1198,11,1920
15,Karnataka,2847,4983,114,7944
16,Kerala,1358,1415,21,2794
17,Ladakh,591,95,1,687
18,Madhya Pradesh,2308,8632,486,11426
19,Maharashtra,53915,60838,5751,120504
20,Manipur,407,199,0,606
21,Meghalaya,13,30,1,44
22,Mizoram,129,1,0,130
23,Nagaland,90,103,0,193
24,Odisha,1357,3144,11,4512
25,Puducherry,155,109,7,271
26,Punjab,962,2570,83,3615
27,Rajasthan,2792,10742,323,13857
28,Sikkim,65,5,0,70
29,Tamil Nadu,23068,28641,625,52334
30,Telangana,2531,3301,195,6027
31,Tripura,515,639,1,1155
32,Uttarakhand,690,1386,26,2102
33,Uttar Pradesh,5477,9239,465,15181

In [31]:
india_df.dtypes

State             object
ActiveCases       object
RecoveredCases    object
TotalDeaths       object
TotalCases        object
dtype: object

In [32]:
# Check for duplicated values in the State column

india_df.State.duplicated().sum()

0

In [33]:
india_df.isnull().sum()

State             0
ActiveCases       0
RecoveredCases    0
TotalDeaths       0
TotalCases        0
dtype: int64

In [34]:
# Convert into integer from object type

india_df.ActiveCases = india_df.ActiveCases.astype(int)
india_df.RecoveredCases = india_df.RecoveredCases.astype(int)
india_df.TotalDeaths = india_df.TotalCases.astype(int)
india_df.TotalCases = india_df.TotalCases.astype(int)

In [35]:
india_df.dtypes

State             object
ActiveCases        int32
RecoveredCases     int32
TotalDeaths        int32
TotalCases         int32
dtype: object

In [36]:
# This dataset does not require cleaning